<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="parent_triangle" class="com.valerastudy.TrianglePointList" abstract="true">
        <property name="points">
            <list>
                <ref bean="pointA"/>
            </list>
        </property>
    </bean>

    <bean id="triangle1" class="com.valerastudy.TrianglePointList" parent="parent_triangle">
        <property name="points">
            <list merge="true">
                <ref bean="pointB"/>
            </list>
        </property>
    </bean>

    <bean id="triangle2" class="com.valerastudy.TrianglePointList" parent="parent_triangle">
        <property name="points">
            <list>
                <ref bean="pointC"/>
            </list>
        </property>
    </bean>

    <bean id="pointA" class="com.valerastudy.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="pointB" class="com.valerastudy.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="pointC" class="com.valerastudy.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>
</beans>
